/* purgecss start ignore */
@tailwind  base;
/* purgecss end ignore */

/*
  Content sections conventions
*/
section {
  @apply pb-10;
  @apply px-4;
}
p {
  @apply mt-4;
  @apply mb-6;
  @apply leading-relaxed;
}
p+p {
  @apply mt-4;
}

/*
  Global headings conventions
*/
h1, h2, h3 {
  @apply font-patua;
  @apply mb-4;
  @apply leading-tight;
}
h1 {
  @apply text-4xl;
  @apply text-headers-title;
}
h2 {
  @apply text-2xl;
  @apply mt-6;
  @apply text-headers-subtitle;
}
h3 {
  @apply text-3xl;
  @apply mt-16;
  @apply mb-12;
  @apply text-headers-content;
}

/*
  Base styles for links
*/
a {
  @apply text-typography-link;
  @apply border-b-2;
  @apply border-transparent;
}
a:hover,
a:focus {
 @apply border-b-2;
 @apply border-red-400;
}
a.naked-link:link,
a.naked-link:visited {
  @apply border-0;
}

/*
  Base styles for basic html
*/
code {
  @apply bg-gray-900;
  @apply text-sm;
  @apply text-red-400;
  @apply p-1;
  @apply rounded;
}

blockquote {
  @apply border-l-4 border-headers-title;
  @apply text-typography-dark;
  @apply font-normal;
  @apply pl-6;
  @apply text-2xl;
  @apply my-10;
}
blockquote p {
  @apply mb-0;
  @apply leading-tight;
}
blockquote em {
  @apply block;
  @apply not-italic;
  @apply pt-4;
  @apply text-base;
  @apply leading-tight;
}

hr {
  @apply border-gray-800;
  @apply my-20;
  @apply mx-auto;
  @apply w-64;
}

ol, ul {
  list-style-position: inside;
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
ol li::marker, ul li::marker {
  @apply text-headers-content;
}

article img {
  @apply rounded-lg;
}

/*
  Navigation links
*/
.nav-tab {
  @apply inline-block;
  @apply text-white;
  @apply font-semibold;
  @apply px-4;
  @apply py-2;
  @apply border-b-0;
  @apply rounded;
}
.nav-tab:hover {
  @apply bg-white;
  @apply text-orange-500;
  @apply border-b-0;
}


.filter-bw-800 {
  filter: grayscale(0.8);
}

.mb--2 {
  margin-bottom: -0.5rem;
}
.mb--4 {
  margin-bottom: -1rem;
}

/* Custom Styles */
.meta {
  @apply mt-2;
  @apply text-typography-dark;
}
.meta p {
  @apply m-0;
}

/* purgecss start ignore */
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;