<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <title>{{ title }}</title>
    {% include "components/open_graph.njk" %}
  </head>
  <body class="text-typography bg-dark">
    {% include "components/banner.njk" %}
    <div class="container mx-auto mb-12 lg:max-w-4xl p-5">
      {% include "components/header.njk" %}
      <div class="content leading-relaxed">
        {{ content | safe }}
      </div>
    </div>
    {% set js %}
      {% include "js/core.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>



