---
layout: base
templateEngineOverride: njk, md
---
<main>
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <section class="text-gray-600 border-t border-b border-gray-800 p-0 py-4 h-auto overflow-hidden mt-8">
    <a href="https://www.robkjohnson.com" alt="Rob Johnson" class="float-left border-b-0 hover:border-b-0">
      <img src="https://www.robkjohnson.com/assets/img/rob.jpg" title="Rob Johnson" class="rounded-full h-24 p-2 border border-gray-800 mr-8">
    </a>
    <div class="meta">
      <p>By <a href="https://www.robkjohnson.com" title="Rob Johnson">Rob Johnson</a>
      <p><time value="{{ item.date }}">{{ date | readableDate }}</time></p>
      <p>7 Min #essay</p>
    </div>
  </section>

  <article class="mt-12 mb-4 text-lg font-medium">
    {{ content | section | safe }}
    {{ content | section('remainder') | safe }}
  </article>

  <section class="mt-12 pt-4 text-gray-600 text-sm border-t border-gray-800">
    <p>
      This page is part of the <a href="/posts">posts</a> section.
    </p>
  </section>
</main>

