---
layout: base
templateEngineOverride: njk, md
---
<section>
  <h1>{{ title }}</h1>
  <time value="{{ item.date }}" class="text-gray-600">{{ date | readableDate }}</time>
  <div class="mt-12 mb-4 text-lg font-medium">
    {{ content | section | safe }}
  </div>
  <div>
    {{ content | section('remainder') | safe }}
  </div>
  <div class="mt-12 pt-4 text-gray-600 text-sm border-t border-gray-300">
    <p>
      This page is part of the <a href="/posts">posts</a> section.
    </p>
  </div>
</section>

