{% if page.url == '/' %}
  
  <section class="text-center pt-5 pb-5 bg-dark-light border-b-2 border-dark-border font-patua">
    &middot;&nbsp; <a href="/posts/my-thoughts-on-inequality-division-today" title="My Thoughts on Inequality and Division">Thoughts on Inequality and Division</a> &nbsp;&middot;
  </section>

{% endif %}