{% if page.url == '/' %}
  
  <section class="text-center pt-5 pb-5 bg-gray-900">
    <span class="icon is-danger">&middot;&nbsp;</span> <a href="/posts/my-thoughts-on-inequality-division-today" title="My Thoughts on Inequality and Division">Thoughts on Inequality and Division</a> <span class="icon is-danger">&nbsp;&middot;</span>
  </section>

{% endif %}