{# <header class="bg-blue-500 flex justify-between px-4 py-2 mb-10">
  <nav>
    {%
      set linkList = [
        { "url": "/" , "text": "Home"},
        { "url": "/posts" , "text": "Posts"}
      ]
    %}
    {% include "navigation_links.njk" %}
  </nav>
</header> #}



