---
title: Posts
layout: base
---

<section>
  <h1 class="heading">Posts</h1>
  <p>Writing helps me process what I've learned</p>

  <ul class="mt-8">
    {%- for item in collections.post | reverse -%}
      {% include 'components/post_list_item.njk' %}
    {%- endfor -%}
  </ul>
</section>
